/projects/ictkholdings/ZWG3M/iar/aws_demos/Debug
/projects/ictkholdings/ZWG3M/iar/aws_demos/Settings
/projects/ictkholdings/ZWG3M/iar/aws_tests/Debug
/projects/ictkholdings/ZWG3M/iar/aws_tests/Settings
